.p-dropdown-panel.p-component {
    z-index: 1;
}

.app-search-form-container {
    .account-select {
        .p-dropdown {
            width: 175px;
            border-radius: 3px 0 0 3px;
        }
    }
}
